// Custom styles.
//body { background: #d9d6c3; }

body {
    background: url("../images/school.png");
    background-repeat: repeat;
}
@font-face{
    font-family: SourceHanSerifCN-Heavy;
    src: url('/fonts/SourceHanSerifCN-Heavy.otf');
}

@font-face{
    font-family: Roboto-Regular;
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face{
    font-family: JosefinSans-Regular;
    src: url('/fonts/JosefinSans-Regular.ttf');
}


.tag-cloud-title {margin-bottom: 20px;}

h1, h2, h3, h4, h5, h6 { font-weight: normal;
-webkit-font-smoothing: antialiased; }
 
.img-1.img-1.img-1 {
  width: 100%; 
  display: inline-block;
  margin-bottom: -6px;
  margin-top: -6px;
  background: white;
  border: none;
  }

 .img-2.img-2.img-2 {
  width: 50%; 
  display: inline-block;
  margin-bottom: -6px;
  margin-top: -6px;
  background: white;
  border: none;
  }

  .img-3.img-3.img-3 {
  width: 33.3%; 
  display: inline-block;
  margin-bottom: -6px;
  margin-top: -6px;
  background: white;
  border: none;
  }
 
  .img-4.img-4.img-4 {
  width: 25%; 
  display: inline-block;
  margin-bottom: -6px;
  margin-top: -6px;
  background: white;
  border: none;
  }

  .img-1f.img-1f.img-1f {
  width: 100%;
  display: inline-block;
  margin-bottom: -6px;
  margin-top: -6px;
  background: white;
  padding: 0px;
  border: none;
  }

  .img-h.img-h.img-h {
  max-height: 120px;
  display: inline-block;
  margin-bottom: -6px;
  margin-top: -6px;
  background: white;
  border: none;
  +mobile(){max-height: 60px;}
  }

.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 1px; /* Chrome, Safari, Opera */
    -moz-column-gap: 1px; /* Firefox */
    column-gap: 1px;
    margin-bottom: 20px;
}

  .img-n.img-n.img-n {
  display: block;
  margin-bottom: -6px;
  background: white;
  border: none;
  padding-top: 6px;
  }

  .newspaper0 {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 0px;
    margin-bottom: 20px;
}

  .img-n0.img-n0.img-n0 {
  display: block;
  margin-bottom: -6px;
  background: white;
  border: none;
  padding: 0px;
  }

  .img-m6.img-m6.img-m6 {
  width: 60%; 
  display: block;
  margin-bottom: -6px;
  margin-top: -6px;
  background: white;
  border: none;
  margin-left: auto;
  margin-right: auto;
  }

  .img-m3.img-m3.img-m3 {
  width: 30%; 
  display: block;
  margin-bottom: -6px;
  margin-top: -6px;
  background: white;
  border: none;
  margin-left: auto;
  margin-right: auto;
  }

/* NAVIGATION */
.navigation {
  list-style: none;
  padding: 0;
  width: 80px; 
  height: 45px; 
  background: rgba(255,253,192,0.3);
  position: relative; 
  z-index: 1039;
  float: right;
  margin-top: 0px;
  margin-left: 3px;
  margin-bottom: 0px;
  +mobile(){display: none;}
}

.navigation, .navigation a.main {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.navigation:hover, .navigation:hover a.main {
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}

.navigation a.main {
  display: block; 
  height: 45px;
  font: 14px/45px  Microsoft YaHei; 
  text-align: center; 
  text-decoration: none; 
  color: #FFF;  
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: relative;
  z-index: 100;
  padding-bottom: 0px;
  border-bottom: none;
}

.navigation:hover a.main {
  color: rgba(255,255,255,0.6);
  background: rgba(0,0,0,0.04);
  padding-bottom: 0px;
}

.navigation li { 
  width: 80px; 
  height: 40px;
  background: #F7F7F7;
  font: normal 14px/40px  Microsoft YaHei !important; 
  color: #999;
  text-align: center;
  margin: 0;
  -webkit-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: perspective(350px) rotateX(-90deg);
  -o-transform: perspective(350px) rotateX(-90deg);
  transform: perspective(350px) rotateX(-90deg);
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
a{border-bottom: none;}
a:hover{color: black;}}

.navigation li:nth-child(even) { background: #E1E7DC; }
.navigation li:nth-child(odd) { background: #CCD5C6; }

.navigation li.n1 { 
  -webkit-transition: 0.1s linear 0.5s;
  -o-transition: 0.1s linear 0.5s;
  transition: 0.1s linear 0.5s;
}
.navigation li.n2 {
  -webkit-transition: 0.1s linear 0.4s;
  -o-transition: 0.1s linear 0.4s;
  transition: 0.1s linear 0.4s;
}
.navigation li.n3 {
  -webkit-transition: 0.1s linear 0.3s;
  -o-transition: 0.1s linear 0.3s;
  transition: 0.1s linear 0.3s;
}
.navigation li.n4 { 
border-radius: 0px 0px 4px 4px;
  -webkit-transition:0.1s linear 0.2s;
  -o-transition:0.1s linear 0.2s;
  transition:0.1s linear 0.2s;
}
.navigation li.n5 {
  -webkit-transition: 0.1s linear 0.1s;
  -o-transition: 0.1s linear 0.1s;
  transition: 0.1s linear 0.1s;
}
.navigation li.n6 {
  border-radius: 0px 0px 4px 4px;
  -webkit-transition: 0.1s linear 0s;
  -o-transition: 0.1s linear 0s;
  transition: 0.1s linear 0s;
}

.navigation:hover li {
  -webkit-transform: perspective(350px) rotateX(0deg);
  -o-transform: perspective(350px) rotateX(0deg);
  transform: perspective(350px) rotateX(0deg);
  -webkit-transition:0.1s linear 0s;
  -o-transition:0.1s linear 0s;
  transition:0.1s linear 0s;
}
.navigation:hover .n2 {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.navigation:hover .n3 {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.navigation:hover .n4 {
  transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.navigation:hover .n5 {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.navigation:hover .n6 {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

