// Custom styles.
body { background: #d9d6c3; }
@font-face{
    font-family: SourceHanSerifCN-Heavy;
    src: url('/fonts/SourceHanSerifCN-Heavy.otf');
}

@font-face{
    font-family: Roboto-Regular;
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face{
    font-family: JosefinSans-Regular;
    src: url('/fonts/JosefinSans-Regular.ttf');
}

@font-face{
    font-family: SourceHanSerifCN-Bold;
    src: url('/fonts/SourceHanSerifCN-Bold.otf');
}

.tag-cloud-title {margin-bottom: 20px;}

.img-3.img-3.img-3 {
  width: 33.3%; 
  display: inline-block;
  margin-bottom: -6px;
  background: white;
  border: none;
  }
 

