// Custom styles.
body { background: #d9d6c3; }
@font-face{
    font-family: SourceHanSerifCN-Heavy;
    src: url('/fonts/SourceHanSerifCN-Heavy.otf');
}

@font-face{
    font-family: Roboto-Regular;
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face{
    font-family: JosefinSans-Regular;
    src: url('/fonts/JosefinSans-Regular.ttf');
}


.tag-cloud-title {margin-bottom: 20px;}

h1, h2, h3, h4, h5, h6 { font-weight: normal;
-webkit-font-smoothing: antialiased; }
 
.img-1.img-1.img-1 {
  width: 100%; 
  display: inline-block;
  margin-bottom: -6px;
  margin-top: -6px;
  background: white;
  border: none;
  }

 .img-2.img-2.img-2 {
  width: 50%; 
  display: inline-block;
  margin-bottom: -6px;
  margin-top: -6px;
  background: white;
  border: none;
  }

  .img-3.img-3.img-3 {
  width: 33.3%; 
  display: inline-block;
  margin-bottom: -6px;
  margin-top: -6px;
  background: white;
  border: none;
  }
 
  .img-4.img-4.img-4 {
  width: 25%; 
  display: inline-block;
  margin-bottom: -6px;
  margin-top: -6px;
  background: white;
  border: none;
  }
 
