.tag-cloud {
  text-align: center; 
  margin-top: 0px;
  padding: 0px 0px 30px 0px;

  a {
    display: inline-block;
    margin: 5px 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.15);
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 0px;
    border-radius: 10px;
  }
}