.navigation {
  position: fixed;
  right: 60px;
  bottom: 18px
  list-style: none;
  padding: 0;
  width: 90px; 
  height: 52px; 
  margin: 0px 3px auto;
  background: #E9C6C6; 
  z-index: 1050;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
   +tablet() {
    display: none;
  }
  +mobile() {
    display: none;
  }
}

.navigation, .navigation a.main {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.navigation:hover, .navigation:hover a.main {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
}

.navigation a.main {
  display: block;
  height: 52px;
  font: bold 15px/52px  Microsoft YaHei; 
  text-align: center; 
  text-decoration: none; 
  color: #FFF;  
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 1050;
  padding-bottom: 0px;
  border: none;
}

.navigation:hover a.main {
  color: rgba(255,255,255,0.6);
  background: rgba(0,0,0,0.04);
  padding-bottom: 0px;
}

.navigation li { 
  width: 90px; 
  height: 40px;
  background: #F7F7F7;
  font: normal 14px/40px  Microsoft YaHei !important; 
  color: #999;
  text-align: center;
  margin: 0;
  -webkit-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
a{border-bottom: none;}
a:hover{color: black;}}

.navigation li:nth-child(even) { background: #ECE6E3; }
.navigation li:nth-child(odd) { background: #F3C9C9; }

.navigation li.n1 { 
border-radius: 4px 4px 0px 0px;
  -webkit-transition: 0.1s linear 0.5s;
  -o-transition: 0.1s linear 0.5s;
  transition: 0.1s linear 0.5s;
  margin-top: -212px;
}
.navigation li.n2 {
  -webkit-transition: 0.1s linear 0.4s;
  -o-transition: 0.1s linear 0.4s;
  transition: 0.1s linear 0.4s;
}
.navigation li.n3 {
  -webkit-transition: 0.1s linear 0.3s;
  -o-transition: 0.1s linear 0.3s;
  transition: 0.1s linear 0.3s;
}
.navigation li.n4 { 
  -webkit-transition:0.1s linear 0.2s;
  -o-transition:0.1s linear 0.2s;
  transition:0.1s linear 0.2s;
}
.navigation li.n5 {
  -webkit-transition: 0.1s linear 0.1s;
  -o-transition: 0.1s linear 0.1s;
  transition: 0.1s linear 0.1s;
}
.navigation li.n6 {
  border-radius: 0px 0px 4px 4px;
  -webkit-transition: 0.1s linear 0s;
  -o-transition: 0.1s linear 0s;
  transition: 0.1s linear 0s;
}

.navigation:hover li {
  -webkit-transform: perspective(350px) rotateX(0deg);
  -o-transform: perspective(350px) rotateX(0deg);
  transform: perspective(350px) rotateX(0deg);
  -webkit-transition:0.1s linear 0s;
  -o-transition:0.1s linear 0s;
  transition:0.1s linear 0s;
}
.navigation:hover .n2 {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.navigation:hover .n3 {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.navigation:hover .n4 {
  transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.navigation:hover .n5 {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.navigation:hover .n6 {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

