.posts-expand .post-tags {
  margin-top: 40px;
  text-align: right;

  a {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
  }
}

.posts-expand .post-tags-readmore {
  margin-top: 0px;
  float:right;
  +mobile(){display: none;}

  a {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    border-bottom: none;
  }
}
