.posts-expand {
  .post-eof {
    display: block;
    margin: 50px auto -50px;
    width: 0%;
    height: 1px;
    background: $grey-light;
    text-align: center;
  }
}


.post:last-child {
  .post-eof.post-eof.post-eof {
    display: none;
  }
}
