.header-inner, .container .main-inner, .footer-inner {
  +mobile() { width: auto; }
}

// embed tag
embed {
   display: block;
   margin:  0px auto 25px auto;
}
 .posts-expand { .post{ 
    margin-top: -20px;
    margin-bottom: 60px;
    background-color: white;
    padding: 50px 20px 25px 20px;
    -webkit-box-shadow: 0 0 14px rgba(202, 203, 203, 0.5);
    -moz-box-shadow: 0 0 14px rgba(202, 203, 204, 0.5);
 } }