// Post Expanded
// --------------------------------------------------
.posts-expand {
  padding-top: 0;

  .post-title,
  .post-meta {
    text-align: $site-meta-text-align;
    +mobile() { text-align: center; }
  }
  .post-eof { display: none; }

  .post {margin-top: -20px;
         margin-bottom: 60px;
         padding: 50px 20px 25px 20px;
         background-color: white;
        -webkit-box-shadow: 0 0 3px rgba(0,0,0,.15);
        -moz-box-shadow: 0 0 3px rgba(0,0,0,.15);
         box-shadow: 0 0 3px rgba(0,0,0,.15);
         border-radius: 5px;
        }
  .post:first-child { margin-top: -40px; }

  .post-meta {
    margin-top: 5px;
    margin-bottom: 40px;
  }

  .post-title {
    position: relative;
    font-size: $font-size-headings-base;
    font-weight: 400;
    +mobile() { font-size: 22px; }
    +desktop-large() { font-size: $font-size-headings-large; }
  }
  .post-title:hover:before { background: $black-deep; }

  .post-body img { margin: 0; }

  .post-tags {
    text-align: right;
    a {
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    border-bottom: none;
    }
    a:hover { background: $grey-light; }
  }
  .post-nav { margin-top: 40px; }
}

.post-button {
  margin-top: 20px;
  text-align: left;
  .btn {color: white;
    font-size: 14px;
    border-radius: 0px;
    line-height: 2;
    border: none;
    padding: 0px 10px;
    background-color: #bdc3c7;
    transition-property: background;}

    .btn:hover {
    border-color: #222;
    color: white;
    background: #34495e;}

  a {
    margin: 0 8px 8px 0 !important;
    padding: 0;
    font-size: $font-size-base;
    color: $grey-dim;
    background: none;
    border: none;
    border-bottom: 2px solid $grey-dim;
    transition-property: border;

    +mobile() { font-size: $font-size-small; }
    +desktop-large() { font-size: $font-size-large; }


    &:hover { border-bottom-color: $black-deep; }
  }
}
